.App {
  text-align: center;
}

.productDetails {
  padding-top: 30px;
}

.paymentSubmit {
  padding-right: 20px;
}

.success {
  color: green;
}

.failure {
  color: red;
}

.done {
  color: blue;
}

.not-done {
  color: black;
}
